
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  text-align: center;
  font-family: roboto;
  background-color: #282832;
}
h1 {
  font-size: 60px;
}
h1, h2, p, a {
  color: white;
}
div {
  margin: 60px 0px;
}
a {
  font-size: 20px;
  text-decoration: none;
}
p{
  font-size: 18px;
}
footer {
  margin: 60px;
}
