@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:global :root {
  /* Variables */
  --color-background: rgb(230, 230, 230);
  --color-primary-light: rgb(255, 179, 92);
  --color-primary-rgb: 252, 159, 82;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-dark: rgb(243, 147, 91);
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-accent-rgb: 255, 50, 120;
  --color-accent: rgb(var(--color-accent-rgb));
  --color-accent-shadow: rgba(var(--color-accent-rgb), 0.1);
}

:global body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
